
<!-- comment form -->

<div id="comment-form">
    <form action="/comment/create/<%= post.id %>" method="post">
        <!-- user img -->
        <div id="user-img">
            <img src="/images/user.png" alt="user">
        </div>
        <!-- submit -->
        <div id="send-btn">
            <input type="text" placeholder="add class comment" 
                name="commentContent" required
            >
            <label for="comment-add-btn">
                <i class="far fa-paper-plane"></i>
            </label>
            <input type="submit" id="comment-add-btn" value="" style="display: none;">
        </div>
    </form>
</div>