
<!-- about section -->

<section id="about">
    
    <h1 class="text-center" style="color: #125270;">
        FEATURES <i class="far fa-paper-plane"></i>
    </h1>

     <div class="about-container">
       
        <div>
            <!-- 1st feature: White Board -->
            <div class="img-container">
                <img src="/images/live-board.jpg" alt="">
            </div>

            <div class="feature">
                <h4>White Board</h4>
                <p>Write on white board to explain concepts, 
                    for better explanation
                </p>
            </div>

        </div>

        <div>
            <!-- 2nd feature: Grp Video Call -->
            <div class="img-container">
                <img src="/images/live-video.jpg" alt="">
            </div>
            <div class="feature">
                <h4>Group Video Call</h4>
                <p>Stop or start video to connect with peers and teachers</p>
            </div>
        </div>

        <div>
            <!-- 3rd feature: chat -->
            <div class="img-container">
                <img src="/images/chat.jpg" alt="">
            </div>
            <div class="feature">
                <h4>Live Group Chat</h4>
                <p>Ask questions by sending messages in group chat during live class</p>
            </div>
        </div>

    </div>

</section>