
<body>
    
    <!-- home page main content -->
    <main id="home-main">
        <h1><span class="magenta">Learn</span> 
            <span>From</span> 
            <span class="magenta">Anywhere</span><br>
            <span>Anytime</span>
        </h1>
        <div id="header-image"></div>
    </main>


     <!-- about -->
    <%- include('about') -%> 

     <!-- Footer -->
    <%- include('_footer') -%>

</body>