
/* specific classroom */

#students-classroom{
    display: flex;
}

#classroom{
    display: flex;
    flex-direction: column;
    width: 82%;
}

#classroom-info{
    display: flex;
    margin-left: 25px;
}

#classroom #class-form-edit{
    width: 450px;
    height: 330px;
    margin: 6% 0% 0% 3%;
    box-shadow: 5px 3px 3px 5px lightgray;
}

#classroom .class-link{
    margin: 6% 2% 3% 3%;
    display: flex;
    flex-direction: column;
}
.class-link .live-class-teacher a{
    background-color: pink;
    box-shadow: 5px 1px 3px 2px lightgray;
    padding: 5px;
    margin: 10px 0 20px 3%;
    color: #0b0c0c;
    font-size: 20px;
    text-decoration: none;
}
.class-link .invite-link{
    margin-left: 2%;
    margin-top: 30px;
    padding-left: 2%;
    max-width: 400px;
    height: auto;
    max-height: 100px;
    background-color: #eaf8ff;
    word-break: break-word;
    border: 1px solid lightgrey;
    box-shadow: 5px 3px 3px 3px lightgray;
}

.live-class-student {
    background-color: pink;
    box-shadow: 5px 1px 3px 2px lightgray;
    margin: 80px 0 10px 40px;
    height: 35px;
    padding: 5px;
}

.live-class-student a{
    color: #0b0c0c;
    font-size: 20px;
    text-decoration: none;
}

#class-members{
    padding: 6% 0% 3% 1%;
    background-color: #eeecec;
    min-height: 100vh;
    width: 19%;
    display: flex;
    flex-direction: column;
    
}
#class-members > div{
    float: right;
    padding-left: 10px;
}

@media screen and (max-width: 768px){
   #classroom-info, #students-classroom{
       flex-direction: column;
       align-items: center;
       margin-bottom: 20px;
   }  

   #classroom-info .class-link{
       margin-top: 50px;
       margin-left: -15px;
   }
   #classroom-info #class-form-edit{
       margin:5% 3% 3% 10%;
       width: 400px;
   }
   #class-members{
       display: none !important;
   }

}