
#live-class #video-grid{
   display: flex;
   justify-content: center;
}

#live-class video{
    height: 300px;
    width: 400px;
    object-fit: cover;
}

#live-class .main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

#live-class .main__right {
    flex: 0.2
}

#live-class .main__videos {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: black;
}

#live-class .main__right {
    border-left: 1px solid #3D3D42;
    background-color: #242324;
}

#live-class .main__controls {
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #1C1E20;
}

#live-class .main__controls__block {
    display: flex;
}

#live-class .main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

#live-class .main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

#live-class .main__controls__button i {
    font-size: 24px;
}

#live-class .main__right {
    display: flex;
    flex-direction: column;
}

#live-class .main__header {
    padding-top: 10px;
    color: #F5F5F5;
    text-align: center;
}

#live-class .main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

#live-class .messages{
    color: white;
    list-style: none;
}

#live-class .messages li{
   margin-top: 8px;
}

#live-class .main__message_container {
    padding: 22px 12px;
    display: flex;
}

#live-class .main__message_container input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: #F5F5F5;
}

#live-class .leave_meeting {
    padding: 5px;
    background-color: #EB534B;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#live-class .unmute, .stop {
    color: #CC3B33;
}

@media screen and (max-width: 768px){
    .main{
        flex-direction: column;
    }
    .main-left{
        flex-direction: row;
    }
}