
#post-form{
    width: 800px;
    min-width: 350px;
    margin: 50px 50px 50px 40px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%),
                0 4px 8px 3px rgb(60 64 67 / 15%);
}

#post-form textarea{
    border: none;
    background-color: #f8f9fa;
    margin: 10px 5px;
}

#post-form #upload-file{
    display: flex;
    justify-content: space-between;
}

#post-form input[type=submit]{
    border: none;
    font-weight: bold;
    box-shadow: 1px 2px 1px 1px lightgrey;
}

#posts-list-container{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 100px;
}

#posts-list-container #post{
    width: 75%;
    min-width: 380px;
    min-height: 150px;
    margin-bottom: 50px;
    background-color: #fff;
    border: 0.0625rem solid #dadce0;
    border-radius: 0.5rem;
    overflow: hidden;
    padding-bottom: 15px;
}

#post #post-top{
    display: flex;
    justify-content: space-between;
}
#post-top span{
    text-transform: capitalize;
}
#post-top img{
    height: 47px;
    width: 50px;
    margin: 5px 5px 5px 1rem;
    border-radius: 50%;
}
#post-top .dropdown{
    float: right;
}

#post #post-middle{
    padding: 0.5rem 2.8rem;
}

#post #post-bottom{
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid lightgrey;
}

@media screen and (max-width: 768px){
    #post-form{
        margin: 50px 0px;
        width: 380px !important;
    }
    #post-form textarea{
        width: 330px;
    }
    #posts-list-container{
        margin-left: 0;
    }
}